/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* =============== HEADER =============== */

.nav{
  background-color: #1A1A1A;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
}

.shopify_logo{
  width: 2.5rem;
}

.desktop_shopify_logo{
  display: none;
}

.search_field{
  background-color: #616161;
  border-radius: 10px;
  color: #B5B5BF;
}
/* Styling for the input box */
.search-input {
  padding: 10px 35px;
  color: #B5B5BF;
  border: 1px solid #B5B5BF;
  border-radius: 10px;
  width: 14rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>') no-repeat 1% center;
  background-size: 30px 25px; /* Adjust size as needed */
  /* filter: brightness(500%); Adjust the brightness to change the color */
}

.search-input:hover{
  border: 2px solid #B5B5BF;
}

.user_container{
  display: flex;
  justify-content: space-between;
}

.notification_bell {
  width: 25px;
  margin-right: 1rem;
}

.user_info_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_name {
  display: none;
}

.user_icon{
  color: #1A1A1A;
  background-color: #36FBA1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: .5rem;
  border-radius: 5px;
}

/* desktop screen */

@media(min-width: 992px ) {
  .shopify_logo{
    display: none;
  }

  .desktop_shopify_logo {
    display: block;
    width: 8rem;
    height: 2.5rem;
  }

  .search-input {
    width: 32rem;
    padding: 10px 55px;
    background-size: 35px 30px; /* Adjust size as needed */
    font-size: 1rem;
  }

  .user_container {
    height: 2.7rem;
  }

  .notification_bell_container {
    background-color: #616161;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .notification_bell {
    margin: 0 auto;
    width: 35px;
  }

  .user_info_container {
    background-color: #616161;
    border-radius: 10px;
  }

  .user_name {
    display: block;
    margin: 0 .5rem;
    font-size: 1rem;
    color: #fff;
  }

  .user_icon {
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    color: #616161;
  }
}

/* user dropdown */

.user_dropdown {
  max-width: 320px;
  margin: .5rem auto;
  background-color: #fff;
  border-radius: 10px;
}

.dropdown_user_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E1E1E1;
  border-radius: 10px;
  height: 2.2rem;
}

.dropdown_user_name_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_user_icon{
  color: #1A1A1A;
  background-color: #36FBA1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: .5rem;
  border-radius: 5px;
}

.dropdown_user_name {
  font-weight: 600;
  margin-left: .5rem;
  color: #303030;
}

.user_mark_svg {
  width: 30px;
}

.user_mark_svg circle {
  fill: #E1E1E1;
}

.dropdown_stores {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #303030;
  height: 2.2rem;
  margin-top: .5rem;
  border-bottom: 1px solid #E1E1E1;
}

.dropdown_stores_logo {
  width: 30px;
  margin-right: .8rem;
}

.dropdown_stores_logo path {
  fill: #303030;
}

.dropdown_user_list ul a{
  color: #303030;
  padding: .5rem;
}

.dropdown_user_account {
  padding-top: .2rem;
  color: #303030;
  border-top: 1px solid #E1E1E1;
}

.user_account_email_container {
  padding: .5rem 0;
}

.user_account_name {
  font-weight: 600;
  color: #303030;
}

.user_account_email {
  color: #616161;
}

.manage_account_container {
  padding: .5rem 0;
}

.logout_container {
  padding: .5rem 0;
}