/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
  font-family: sans-serif;
}

body {
  background-color: #F0F0F0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* =============== HEADER =============== */

.nav{
  background-color: #1A1A1A;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
}

.shopify_logo{
  width: 2.5rem;
}

.desktop_shopify_logo{
  display: none;
}

.search_field{
  background-color: #616161;
  border-radius: 10px;
  color: #B5B5BF;
}
/* Styling for the input box */
.search-input {
  padding: 10px 40px;
  color: #B5B5BF;
  border: 1px solid #B5B5BF;
  border-radius: 10px;
  width: 18rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>') no-repeat 1% center;
  background-size: 30px 25px; /* Adjust size as needed */
  /* filter: brightness(500%); Adjust the brightness to change the color */
}

.search-input:hover{
  border: 2px solid #B5B5BF;
}

.user_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification_bell {
  width: 25px;
}

.notification_bell_container {
  cursor: pointer;
  background-color: #1A1A1A;
  width: max-content;
  border-radius: 10px;
  height: 3rem;
  padding: 0 3px;
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid #1A1A1A;
  border-radius: 10px;
}

.user_name {
  display: none;
}

.user_icon{
  color: #1A1A1A;
  background-color: #36FBA1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: .5rem;
  border-radius: 5px;
}

/* desktop screen */

@media(min-width: 992px ) {
  .shopify_logo{
    display: none;
  }

  .desktop_shopify_logo {
    display: block;
    width: 8rem;
    height: 2.5rem;
  }

  .search-input {
    width: 40rem;
    padding: 10px 50px;
    background-size: 35px 30px; /* Adjust size as needed */
    font-size: 1.4rem;
  }

  .user_container {
    height: 2.7rem;
  }

  .notification_bell_container {
    background-color: #303030;
  }

  .notification_bell {
    margin: 0 auto;
    width: 25px;
  }

  .user_info_container {
    background-color: #303030;
    border-radius: 10px;
    border: 3px solid #1A1A1A;
  }

  .user_name {
    display: block;
    margin: 0 .5rem;
    font-size: 1rem;
    color: #fff;
  }

  .user_icon {
    font-size: .8rem;
    padding: 10px;
    border-radius: 10px;
    color: #616161;
  }
}

/* user dropdown */

.user_dropdown {
  width: 320px;
  margin: .5rem auto;
  background-color: #fff;
  border-radius: 10px;
  padding: .2rem .1rem;
  display: none;
  position: fixed;
  top: 6rem;
  right: 1.5rem;
}

.dropdown_user_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E1E1E1;
  border-radius: 10px;
  height: 2.2rem;
}

.dropdown_user_name_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_user_icon{
  color: #1A1A1A;
  background-color: #36FBA1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: .5rem;
  border-radius: 5px;
}

.dropdown_user_name {
  font-weight: 600;
  margin-left: .5rem;
  color: #303030;
}

.user_mark_svg {
  width: 30px;
}

.user_mark_svg circle {
  fill: #E1E1E1;
}

.dropdown_stores {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #303030;
  height: 2.2rem;
  margin-top: .5rem;
  border-radius: 10px;
  border-bottom: 1px solid #E1E1E1;
}

.dropdown_stores:hover {
  background-color: #F7F7F7;
}

.dropdown_stores:active {
  background-color: #F0F0F0;
}

.dropdown_stores:focus {
  border: 1px solid #005BD3;
}

.dropdown_stores_logo {
  width: 30px;
  margin-right: .8rem;
}

.dropdown_stores_logo path {
  fill: #303030;
}

.dropdown_user_list ul li{
  color: #303030;
  padding: .5rem 0;
  border: 1px solid transparent;
  border-radius: 10px;
}

.dropdown_user_list ul li:hover {
  background-color: #F7F7F7;
}

.dropdown_user_list ul li:active {
  background-color: #F0F0F0;
}

.dropdown_user_list ul li:focus {
  border: 1px solid #005BD3;
}

.dropdown_user_account {
  padding-top: .2rem;
  color: #303030;
  border-top: 1px solid #E1E1E1;
}

.user_account_email_container {
  padding: .5rem 0;
  border-radius: 10px;
}

.user_account_email_container:hover {
  background-color: #F7F7F7;
}

.user_account_email_container:active {
  background-color: #F0F0F0;
}

.user_account_email_container:focus {
  border: 1px solid #005BD3;
}

.user_account_name {
  font-weight: 600;
  color: #303030;
}

.user_account_email {
  color: #616161;
}

.manage_account_container {
  padding: .5rem 0;
  border-radius: 10px;
  color: #303030;
}

.manage_account_container:hover {
  background-color: #F7F7F7;
}

.manage_account_container:active {
  background-color: #F0F0F0;
}

.manage_account_container:focus {
  border: 1px solid #005BD3;
}

.logout_container {
  padding: .5rem 0;
  border-radius: 10px;
  color: #303030;
}

.logout_container:hover {
  background-color: #F7F7F7;
}

.logout_container:active {
  background-color: #F0F0F0;
}

.logout_container:focus {
  border: 1px solid #005BD3;
}

/* notification dropdown */

.notification_dropdown {
  width: 320px;
  margin: .5rem auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  display: none;
  position: fixed;
  top: 6rem;
  right: 1.5rem;
}

/* change position for desktop */

@media(min-width: 992px) {
  .notification_dropdown {
    right: 12rem;
  }
}

.notification_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.notification_title {
  font-size: 1.5rem;
  color: #303030;
}

.notification_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notification_icon1 {
  margin-right: 1rem;
}

.notification_icon1 path {
  fill: #616161;
}

.notification_icon2 path {
  fill: #616161;
}

.notification_content {
  background-color: #F1F1F1;
  color: #303030;
  height: 6rem;
  padding: 1rem .5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

/* =============== MAIN =============== */

/* select plan */

.select_plan_container {
  width: 100%;
  margin: 2rem auto;
  background-color: #1A1A1A;
  color: #E3E3E3;
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
}

.select_plan_text {
  font-size: 1.2rem;
}

.select_plan_button {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.mobile_button {
  padding: 7px 14px;
  font-size: 1.2rem;
  border-radius: 7px;
  border: 1px solid #E3E3E3;
  margin-top: 1.5rem;
}

.desktop_button {
  display: none;
}

.select_plan_close_icon {
  width: 2rem;
}

/* desktop select plan */ 
@media(min-width: 992px) {
  .select_plan_container {
    max-width: 800px;
    border-radius: 10px;
    padding: 2rem;
    align-items: center;
  }

  .select_plan_text {
    font-size: 1.1rem;
  }

  .mobile_button {
    display: none;
  }

  .select_plan_button {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  .desktop_button {
    display: block;
    padding: 7px 14px;
    font-size: 1.1rem;
    border-radius: 7px;
    border: 1px solid #E3E3E3;
    margin: 0 1.2rem;
  }

  .select_plan_close_icon {
    width: 3.2rem;
  }
}